.pagos-contacto{
  position:fixed;
  bottom:30px;
  right: 20px;
}

.pagos-error-msg{
  margin: 0 !important;
  padding: 0 ;
  color: rgb(211, 0, 0);
  transform:translateY(-15px);
  font-size: 14px;
  font-weight: 500;
}

.pagos-descuento{
  border-radius: 8px;
  color:white;
  background-color: rgb(71, 222, 60);
  padding:10px 15px;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.pagos-aplicar-button{
  background-color: rgb(213, 239, 243);
  padding:3px 8px;
  color:rgb(28, 68, 88);
  margin-bottom:0;
  border-radius: 8px;
  font-weight: 600;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0);
  font-size: 16px;
}

.pagos-transf-info-title{
  font-size: 17px;
  justify-content: space-around;
  
}

.pagos-transf-info{
  font-weight: 400;
  font-size: 17px;
}

.pagos-transf-info-alias{
  font-weight: 400;
  font-size: 20px;
}

.pagos-comprobante-adj{
  color:rgb(18, 168, 18);
  font-size: 17px;
  width: 100%;
  text-align: center;
  margin-top:25px;
}

.pagos-transf-title-container{
  text-align: center;
}

.pagos-comprobante-preview-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (width > 768px) {
  .pagos-content{
    max-width: 850px;
    margin:0 auto;
    margin-top: 25px;
    height:fit-content;
    min-height:  300px;
    justify-content: space-around;
    background-color: white;
    border-radius: 12px;
    padding:25px;
    box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.16);
  }

  .pagos-pagado-button{
    color:rgb(88, 88, 88);
    font-size: 13px;
    text-align: center;
    margin: 0 auto;
    font-weight: 500;
  }

  .pagos-pagado-button:hover{
    color:rgb(66, 65, 65);
  }

  .pagos-pagado-container{
    width: 100%;
    text-align: center;
  }

  .pagos-transf-title-container{
    text-align: left;
  }

  .pagos-transf-content{
    width: 768px;
    margin:0 auto;
    background-color: white;
    border-radius: 12px;
    padding:30px 20px;
    box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.16);
  }

  .pagos-descuento{
    width: 848px;
    margin-left: auto;
    margin-right: auto;
    margin:0 auto;
    font-size: 16px;
    padding:10px 15px;
  }

  .pago-transf-buttons{ 
    width: 768px;
    margin: 20px auto;
  }

  .pagos-codigo-label{
    font-size: 14px;
  }

  .pagos-comprobante-preview-container{
    display:flex;
    flex-direction: row;
    justify-content:center;
  }

  .pagos-comprobante-preview-container > *{
    margin: 0 15px;
  }

  .pagos-aplicar-button{
    font-size: 14px;
  }
  
}