.ayuda-container{
  padding: 25px 15px;
  padding-bottom: 80px;
}

.ayuda-contacto{
  position:fixed;
  bottom:30px;
  right: 20px;
}

.ayuda-titulo{
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}