.editar-ong-volver{
  margin:10px auto;
  width: 100%;
  color:rgb(60, 60, 60);
  font-weight: 500;
}


@media screen and (width > 768px) {
  .editar-ong-container{
    background-color:rgba(202, 202, 202, 0.153) !important;
    padding-bottom: 45px;
  }

  .editar-ong-content{
    width: 800px;
    margin:0 auto;
    margin-top: 10px;
  }
} 