.register-container{
  position: relative;
  padding-top: 20px;
  min-height: 100vh;
}

.register-title{
  margin-bottom:40px;
  margin-top:50px;
  text-align: center;
}

.error-message{
  color:rgb(179, 21, 21);
  font-style: italic;
  margin-top: 5px;
}