.form-rep-container{
  background-color: white !important;
  padding-bottom: 45px;
}

.form-rep-contacto{
  position:fixed;
  bottom:30px;
  right: 20px;
}

.space{
  height: 3px;
  margin:0;
  padding:0;
}

.form-rep-container input{
  margin-top: 7px !important;
}

.form-rep-container h1{
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color:rgb(68, 68, 68);
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}

.form-rep-volver{
  margin-top:15px;
  width: 100%;
  text-align: center;
  color:rgb(63, 63, 63);
}

@media screen and (width > 768px) {
  .form-rep-container{
    background-color:rgba(202, 202, 202, 0.153) !important;
    padding-bottom: 45px;
  }

  .form-rep-content{
    width: 800px;
    margin:0 auto;
    margin-top: 10px;
  }

  .form-rep-form{
    background-color: white;
    border-radius: 16px;
    box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.16);
    padding:25px;
  }

  .form-rep-firma{
    margin: 0 auto;
    width: fit-content;
    background-color: rgba(235, 235, 235, 0.32);
    border-radius: 8px;
  }

}


