.quick-action-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
}

.quick-action-icon-container{
  background-color: rgba(228, 228, 228, 0.593);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:12px;
  margin-bottom: 5px;
  cursor:pointer;
}

.quick-action-icon{
  font-size: 25px;
  opacity: 80%;
}

.quick-action-text{
  text-align: center;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  line-height: 14px;
}