.calendario-dia-disponible{
  background-color: rgb(207, 242, 242);
  color:rgb(34, 34, 34);
}

.calendario-dia-seleccionado{
  background-color: rgb(56, 144, 239);
  color:rgb(210, 210, 210);
}

.calendario-dia{
  border-radius: 100% !important;
}