button{
  border-radius: 6px !important;
  font-size: 18px;
  font-weight: 500;
}

.submit-button{
  background-color: rgb(5, 187, 233);
}

.border-button{
  border: 1.5px solid rgba(15, 170, 222, 0);
  background-color: #38c631;
  color:rgb(255, 255, 255);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.182);
  padding: 1px 5px;
}

.p-left{
  padding-left: 16px !important;
}

.info-button{
  border:none;
  border-radius:50%;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  background-color:#D8D8D8 !important;
  color:#4A4A4A;
  margin-left:5px;
  width:17px;
  height:17px;
  font-size:11px;
  font-weight:600;
}

.info-button-container{
  position: relative;
  position:relative !important;
  display: inline-flex !important;
  width:100%;
}

.info-button-text {
    display:none;
    font-size:13px !important;
    font-weight:500 !important;
    position:absolute;
    right:0px;
    bottom:20px;
    background-color:#373737 !important;
    color:white;
    border-radius:8px;
    padding:5px 10px;
    width:340px;
    max-width:95vw;
    box-shadow:2px 2px 8px 1px #0000003c;
}

.info-button:hover .info-button-text{
  display:block !important;
}

.login-button{
  font-size:19px;
  font-weight:500; 
  border-radius:8px;
  margin-left:auto;
  margin-right:auto;
  margin-top:15px;
  color:white;
  padding:4px 15px;
  padding-top: 5px;
  font-family:'Montserrat', sans-serif;
  width:100%;
  height: 40px;
  background-color: rgb(5, 187, 233);
}s

.disabled-button{
  background-color: #eaeaeadf !important;
  color:#5d5d5d;
  cursor:default;
  font-weight: 500;
  font-size: 19px;
}

.link-button{
  display:flex !important;
  align-items:center;
  flex-direction:row;
  background-color: rgb(5, 187, 233);
}

.success-button{
  background-color: rgb(24, 229, 86);
}


@media screen and (width > 700px){
  .login-button{
    font-size:15px !important;
    margin-top: 0px;
  }

  button{
    border-radius: 6px !important;
    font-size: 15px;
    font-weight: 500;
  }

  .disabled-button{
    background-color: #eaeaeadf;
    color:#5d5d5d;
    cursor:default;
    font-weight: 500;
    font-size: 15px;
  }

  button span{
    font-size: 17px !important;
  }
}