input[type="text"],input[type="number"], input[type="date"], input[type="password"], select, textarea, .date-input {
  margin: 25px 0;
  margin-top:6px;
  font-size: 14px !important;
  color:rgb(0, 0, 0) !important;
  font-family: 'Montserrat', sans-serif !important;
}

input::placeholder {
  font-size: 14px !important;
}

.input-label{
  color:rgba(0, 0, 0, 0.753);
  font-size: 14px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  display: block;
}

.checks-input{
  margin: 20px 0;
}

.icon{
  margin-left:9px;
  height: 16px;
  transform:translateY(3px);
  opacity:75%;
}

.icon-button:active{
  transform:translateY(1px);
  opacity: 100%;
}


@media screen and (max-width:800px) {
  input{
    font-size: 16px !important;
  }

  input::placeholder {
    font-size: 15px !important;
  }
  
  .input-label{
    font-size: 15px;
  }
}