input[type="text"], input[type="number"], input[type="date"], input[type="password"], select, textarea, .date-input {
  margin: 21px 0;
  margin-top:6px;
  color:rgb(0, 0, 0) !important;
  font-family: 'Montserrat', sans-serif !important;
  height: 38px;
  border-width: 1px;
}

input::placeholder {
  font-size: 14px !important;
}

.input-label{
  color:rgba(0, 0, 0, 0.753);
  font-size: 14px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  display: block;
}

.checks-input{
  margin: 20px 0;
}

.icon{
  margin-left:9px;
  height: 16px;
  transform:translateY(3px);
  opacity:85%;
}

.icon-button:active{
  transform:translateY(1px);
  opacity: 100%;
}

.login-input::placeholder{
  color:rgb(138, 138, 138) !important;
  font-weight: 500;
}

.login-input{
  height:37px !important;
}

@media screen and (max-width:800px) {
  input{
    font-size: 17px !important;
  }

  select{
    font-size: 15px !important;
  }

  .login-input{
    height:43px !important;
  }

  input::placeholder {
    font-size: 18px !important;
  }


}