.turno-container{
  padding-bottom:40px;
}

.turno-conf-container{
  padding: 15px;
  font-family: 'Montserrat', sans-serif;
  color:rgb(24, 24, 24);
  font-family: 15px;
  font-weight: 500;
}

.turno-conf-container strong{
  padding-right:15px;
}

.turno-conf-pago{
  text-align: start;
  font-weight: 500;
  color:white;
  font-size: 17px;
}

.turno-contacto{
  position:fixed;
  bottom:30px;
  right: 20px;
}

.turno-container textarea{
  min-height:50px;
  display: flex;
  align-items: center;
}

.turno-horarios-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  animation-name: turnos;
  animation-duration: 0.3s;
  overflow-y: hidden;
  height: 70px;
}

.turno-horario{
  background-color: rgba(224, 224, 224, 0.611);
  color: rgb(58, 58, 58);
  font-weight: 500;
  font-size: 16px;
  border-radius: 14px;
  padding:13px 5px;
  height: fit-content;
  width: 27%;
  text-align: center;
  cursor:pointer;
}

.turno-horario-selected{
  background-color: rgb(5, 187, 233);
  color: white;
  font-weight: 500;
  font-size: 16px;
  border-radius: 18px;
  padding:14px 5px;
  height: fit-content;
  width: 27%;
  text-align: center;
  cursor:pointer;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.111);
  transition: 0.3s;
}

.turno-detalles-text{
  font-family: 'Montserrat', sans-serif;
  margin-top: 7px;
}

.turno-conf-info{
  background-color:#e4e4e4b6;
  padding:15px;
  border-radius:8px;
  margin-bottom:20px;
}

.turno-success-mensaje{
  background-color: rgb(236, 236, 236);
  border-radius: 8px;
  padding:10px 15px;
  margin:30px 0;
}

.turno-success-mensaje h4{
  font-size: 16px;
  color:rgb(23, 23, 23);
  line-height: 25px;
}



@keyframes turnos {
  0%{
    height: 0;
    opacity: 0;
  }
  100%{
    height: 70px;
    opacity: 100%;
  }
}

@media only screen and (width > 768px){
  .turno-conf-container{
    background-color:rgba(202, 202, 202, 0.153) !important;
    padding-top: 75px;
  }

  .turno-content{
    width: 850px;
    min-width: fit-content;
    margin: 0 auto;
    display:flex;
    position:relative;
    justify-content: space-around;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.16);
    padding:1px;
    box-sizing: border-box;
  }

  .turno-row{
    margin: 27px auto;
    box-sizing: border-box;
    position:relative;
    width: 47%;
  }

  .turno-row-hours{
    height: 75%;
  }

  .turno-selector{
    font-size: 15px !important;
  }

  .turno-detalles-text{
    font-size: 14px;
  }

  .turno-horario{
    font-size: 15px;
    padding:11px 5px;
  }
  
  .turno-horario-selected{
    font-size: 15px;
    padding:11px 5px;
  }
  
  .turno-row-msj{
    font-size: 15px;
    text-align: center;
    padding-top: 20px;
    color:rgb(99, 99, 99);
    font-weight: 500;
  }
  .turno-success-content{
    max-width: 850px;
    min-height: 70vh;
    margin: 25px auto;
    background-color: white;
    border-radius: 16px;
    box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.16);
    padding:25px;
  }

  .turno-conf-content{
    max-width: 850px;
    min-height: 70vh;
    margin: 5px auto;
    background-color: white;
    border-radius: 16px;
    box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.16);
    padding:25px;
    position:relative;
    box-sizing: border-box;
  }

  .turno-success-mensaje h4{
    font-size: 15px !important;
  }

  .turno-conf-button{
    position:absolute;
    bottom:25px;
    width: 800px;
  }
}