.panel-container{
  margin: 0 15px;
}

.panel-logo{
  margin-bottom: 13px;
}

.panel-separador{
  margin: 35px 0;
  margin-bottom: 25px;
}

.panel-button{
  margin: 10px 0;
}

.panel-info{
  background-color: rgba(226, 226, 226, 0.637);
  border-radius: 8px;
  padding:5px 10px;
  margin-bottom: 15px;
}

.panel-info-text{
  color:rgba(48, 48, 48, 0.898);
  font-size: 14px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.panel-info-icon{
  display: inline;
  margin-right: 10px;
}