.card-container{
  padding:15px 15px;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  position:relative;  
  box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  margin-bottom: 17px;
}

.card-title{
  font-size: 15px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color:rgba(0, 0, 0, 0.809);
}

.animation-card{
  animation-name: cardAnimation;
  animation-duration: 0.3s;
}

.card-title-center{
  text-align: center;
}

@keyframes cardAnimation{
  0%{
    height: 0;
    opacity: 0;
  }
  100%{
    height: 70px;
    opacity: 100%;
  }
}

@media only screen and (width > 768px){
  .card-container{
    box-sizing: border-box;
  }

  .card-disabled-border{
    box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0);
    margin-bottom: 0px;
    padding:9px;
  }
  .card-title{
    font-size: 15px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color:rgba(0, 0, 0, 0.809);
  }
}

@media only screen and (width < 768px){
  .card-content{
    font-size: 14px;
  }
}

