.color-card-container{
  box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  padding:15px 15px;
  background-color: white;
  margin-bottom: 17px;
  font-family: 'Montserrat', sans-serif;
}

.color-card-title{
  font-size: 16px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color:rgba(0, 0, 0, 0.809);
}

.animation-card{
  animation-name: cardAnimation;
  animation-duration: 0.3s;
}

.color-card-title-center{
  text-align: center;
}

@keyframes cardAnimation{
  0%{
    height: 0;
    opacity: 0;
  }
  100%{
    height: 70px;
    opacity: 100%;
  }
}

