
.tg-grow-name{
  color:white;
  font-size: 26px;
  text-align: start;
  font-weight: 500;
}

.tg-grow-description{
  color:white;
  font-weight: 500;
  text-align: start;

}

.tg-content{
  padding-top: 10px;
}

.button-cerrar-sesion{
  font-size: 15px;
}

@media only screen and (width > 768px){
  .tg-content{
    display: flex;
    flex-wrap: wrap;
    padding-top: 0px;
    height: fit-content;
  }
}