.panel-container{
  margin-top: 15px;
}

.panel-logo{
  margin-bottom: 13px;
}

.panel-separador{
  margin-top:5px;
  margin-bottom: 35px;
  border-color: rgb(113, 113, 113);
}

.panel-button{
  margin: 10px 0;
}

.panel-info{
  margin-bottom: 30px;
  margin-top: 20px;
}

.panel-cancelar{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;  
  width: 20px;
  border:none;
  border-radius:50%;
  font-size: 18px;
  color:rgb(255, 255, 255);
  font-weight: 600;
}

.panel-titulo{
  font-size: 22px;
  font-weight: 600;
  color:rgb(89, 89, 89);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.panel-description{
  margin: 15px 0 ;
  color:rgb(80, 80, 80);
  margin-bottom: 15px;
}

.panel-description-subtitle{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.panel-description-text{
  font-size: 17px;
  font-weight: 600;
}

.panel-doctor{
  font-size: 14px;
  text-align: end;
  margin:0;
  padding:0;
  width: 100%;
  padding: 0 10px;
  margin-top: 20px;
}

.panel-contactanos-container{
  width:100%;
  padding: 20px 0;
  display: flex;
  justify-content: flex-end;
}

.panel-cerrar-sesion{
  color:rgb(71, 71, 71);
  padding-top: 10px;
  font-weight: 500 !
  important;
}

.panel-contacto{
  display: block;
  position:fixed;
  bottom:50px;
  height: 10px;
  margin-bottom: 100px;
}

.panel-turno-container{
  border:solid 1px rgb(194, 194, 194);
  border-radius: 8px;
  padding: 8px 10px;
  margin-bottom: 30px;
}

.panel-turno-titulo{
  display: inline;
  flex-direction: row;
  align-items: center;
  color:rgb(255, 255, 255);
  font-size: 20px;
  margin-bottom: 7px;
  width: fit-content;
  justify-content: flex-start;
  font-weight: 500;
}

.panel-turno-texto{
  text-align: start;
  font-size: 16px;
  color:white;
}

.panel-turno-head{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and ( width > 768px ){
  .panel-container{
    display: flex;
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0 ;
  }

  .panel-bienvenido-container{
    max-width: 450px;
  }

  .panel-bienvenido-pc{
    transform: rotate(35deg);
    background-color: rgb(5, 187, 233);
    border-radius: 25px;
    height:420px;
    max-width:420px;
    position:absolute;
    top:90px;
    left: -100px;
  }

  .panel-bienvenido-pc div{
    transform: rotate(-35deg);
    color:white;
    margin-left: 100px;
    margin-top:50px;
    font-weight: 500;

  }

  .panel-bienvenido-pc div h2{
    color:white;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 15px;
  }

  .panel-bienvenido-pc div p{
    color:white;
    font-size: 18px;
  }

  .panel-bienvenido-pc div button{
    color:rgb(58, 58, 58);
    font-size: 15px;
    font-weight: 600;
    border-radius: 70px !important;
    background-color: white;
    padding:4px 15px;
    margin-top:35px;
    margin-left: 30px;
  }
  
  .panel-content{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 15px;
    height: fit-content;
    width: 100%;
  }

  .panel-container div{
    width: 100%;
  }

  .panel-buttons-container{
    margin: 0 100px;
    width: 400px;
  }
  
  .panel-titulo{
    font-size: 20px;
  }
  
  .panel-description-subtitle{
    font-size: 18px;
  }
  
  .panel-description-text{
    font-size: 15px;
  }
  
  .panel-doctor{
    font-size: 14px;
  }
  
  .panel-cerrar-sesion{
    font-size: 15px;
    margin-bottom: 50px;
  }

  .panel-turno-titulo{
    font-size: 16px;
  }
  
  .panel-turno-icon{
    font-size: 18px;
  }

  .panel-turno-container{
    font-size: 14px;
    font-weight: 500;
  }
}
