.gd-item{
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
}

.gd-item-title{
  font-weight: 500;
}

.gd-item-text{
  text-wrap: wrap;
  word-wrap: break-word;
  padding-right: 5px;
  margin-bottom: 2px;
}

.gd-item-icon{
  display: inline;
  width: fit-content;
  background-color: rgb(71, 53, 26);
}

.gd-copiar-link-boton{
  color:rgb(255, 255, 255);
  background-color: rgb(40, 117, 241);
  border-radius: 5px;
  height: fit-content;
  width: fit-content;
  padding: 2px 5px;
  display: inline;
  margin-top: 6px;
  font-size: 15px;
}

.gd-descuento-box{
  border-radius: 4px;
  margin:5px;
  min-height: 80px;
  width: 50%;
}

.gd-descuento{
  display:flex;
  flex-direction: row;
}

.gd-descuento-porcent{
  font-size: 62px;
  width: 100%;
  text-align: center;
  color:rgb(78, 78, 78);
  font-weight: 600;
}

.gd-descuento-descripcion{
  font-weight: 500;
}

.gd-descuento-precio{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gd-precio-original{
  width: fit-content;
  text-align: center;
  text-decoration:line-through;
  font-size: 22px;
  color:rgb(98, 98, 98);
  font-weight: 600;
}

.gd-precio-descuento{
  width: fit-content;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  color:rgb(83, 83, 83);
}

.gd-button{
  margin: 25px 0;
}

.gd-qr{
  height:80px;
}

@media only screen and (width > 768px){
  .grow-estadisticas-container{
    padding-top: 70px !important;
    padding-bottom: 40px !important;
    min-height: fit-content;
    box-sizing: border-box;
  }

  .gd-item{
    font-size: 14px;
  }
  
  .gd-item-title{
    font-weight: 500;
  }

  .gd-descuento-porcent{
    font-size: 42px;
    text-align: start;
  }
  
  .gd-descuento-descripcion{
    font-size: 14.5px;
    color: rgb(48, 48, 48);
  }
  .gd-copiar-link-boton{
    margin-bottom: 3.8px;
  }

  .gd-button{
    margin: 5px 0;
  }

  .grow-estadisticas-items{
    width: fit-content;
    display: inline-block;
    vertical-align: top;
    margin-right: 150px;
  }
}
