@tailwind base;
@tailwind components;
@tailwind utilities;


@media only screen and (width > 768px){
  .display-cel{
    display:none;
  }
}

@media only screen and (width <= 768px){
  .display-pc{
    display:none;
  }
}

.black-title{
  font-size:20px !important;
  color:rgba(31, 31, 31, 0.857)!important;
  font-family:'Montserrat', sans-serif;
  font-weight: 600;
  text-align: start;
}

/* Fuentes:

  font-family: 'Inclusive Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Montserrat', sans-serif;

  responsive:

  0 - 768px: cel-tablet
  768 - adelante: pc
*/