.layout-login-container{
  margin: 8px 0;
  width:380px;
  max-width: 96vw;
  padding: 0px 20px;
  min-height: 600px;
  min-height: 100%;
  border-radius: 10px;
  
}

.main-contacto{
  position: fixed !important;
  bottom: 30px;
  right: 15px;
}

.guest-container{
  background-color: rgb(240, 240, 240);
}

.layout-main-container{
  position: relative;
  padding: 0px 0px;
  min-width: 350px;
  min-height: 500px;
  height:calc(100vh - 80px);
  background-color: white;
}



@media screen and (max-width:768px) {
  .form-container{
    padding: 30px 10px;
    min-width: 96vw;
  }

  .main-contacto{
    position: fixed !important;
    bottom: 25px;
    right: 15px;
  }

  .layout-login-container{
    padding: 0px 15px;
    min-width: 100vw;
    min-height: 100vh;
    margin:0;
  }

  .layout-main-container{
    padding: 0px 0px;
    min-width: 100vw;
    min-height: 100vh;
    margin:0;
    border-radius: 0px;
    height:100%;
  }

  .layout-content{
    min-height: 100% !important;
    position:relative;
    height:100%;
    min-height: 100vh;
   }
}


@media only screen and (width > 768px) {
  .layout-main-container{
    padding: 0px 0px !important;
    width: 100%;
    height: fit-content;
  }

  .layout-login-container{
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.064);
  }

}